
.box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: orange;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay:target {
    visibility: hidden;
    opacity: 0;
    display:none
  }
  .popup { position: relative;
    margin: 70px auto;
    padding: 20px;
    background: #252525;
    border: 5px solid #A62120;
   
    width: 900px;
    height: 600px;
    top: 150px;
    z-index: 2;
    transition: all 5s ease-in-out; }

.popup .close       { position: absolute; top: 20px; right: 30px; transition: all 200ms;
              font-size: 30px; font-weight: bold; text-decoration: none; color: #333; }
.popup .close:hover { color: #A62120; }
.popup .content { 
    position: absolute;
    font-size: 24px;
     overflow: auto;
     color: white;
     left: 470px;
     top: 200px; 
     width: 400px;
     height: 400px;
     line-height: 200%;
    }

.pic2{
    left: 0px;
    position: absolute;
    top: 0px;
    width: 450px;
    height: 590px;
  
}

.h2_tittle8{
    position: absolute;
    color: white;
    left: 560px;
    top: 50px;
    font-size: 40px;
    font-style: bold;
}


/*.popup h2 { margin-top: 0; color: #333; font-family: Tahoma, Arial, sans-serif; }*/
