.rectangle63 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 47.52%;
    width: 1920px;
    height: 93px;
    background-color: #B50014;
}


.Die_Metzgerei {
    position: absolute;
    left: 26.98%;
    right: 67.81%;
    top: 22.57%;
    bottom: 66.7%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    width: 100px;
    height: 19px;
}

.Dry_Aged{
    position: absolute;
    left: 34.32%;
    right: 62.24%;
    top: 22.57%;
    bottom: 66.7%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    width: 66px;
    height: 19px;
}

.Fleischversand{
    position: absolute;
    left: 39.9%;
    right: 54.43%;
    top: 22.57%;
    bottom: 66.7%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    width: 109px;
    height: 19px;

}

.Events_Kurse{
    position: absolute;
    left: 47.71%;
    right: 47.29%;
    top: 22.57%;
    bottom: 66.7%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    width: 96px;
    height: 19px;
}

.Partyservice{
    position: absolute;
    left: 54.84%;
    right: 40.42%;
    top: 23.7%;
    bottom: 67.83%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    width: 91px;
    height: 19px;

}

.Tagesessen{
    position: absolute;
    left: 61.72%;
    right: 33.8%;
    top: 22.57%;
    bottom: 66.7%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    width: 86px;
    height: 19px;
}

.Impressum{
    position: absolute;
    left: 68.33%;
    right: 27.4%;
    top: 22.57%;
    bottom: 66.7%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    width: 82px;
    height: 19px;

}

.Kontakt{
    position: absolute;
    left: 74.74%;
    right: 22.34%;
    top: 22.57%;
    bottom: 66.7%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    width: 56px;
    height: 19px;
}

.vector{
    width: 24px;
    height: 28px;
    position: absolute;
    left: 1533px;
    right: 0%;
    top: 31%;
    bottom: 0%;

  
}

.download{
    position: absolute;
    width: 65px;
    height: 16px;
    left: 1557px;
    top: 22.57%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}

.rectangle64{
    width: 1920px;
    height: 30px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 93px;
    bottom: 29.46%;

    background: #252525;
}

.logo {
    position: absolute;
    left: 15.62%;
    right: 75.15%;
    top: 0%;
    bottom: 0%;
    width: 177.2px;
    height: 177.2px;
}

.vector1{
    position: absolute;
    left: 60.73%;
    right: 38.49%;
    top: 20%;
    bottom: 34.54%;

    width: 15.05px;
    height: 15px;

}

.Opentime{
    position: absolute;
    left: 61.88%;
    right: 15.52%;
    top: -25%;
    bottom: 33.97%;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    width: 434px;
    height: 16px;

}

body{
   background-color:  black;
   font-style: normal;
}

.image14{
    position: absolute;
    width: 1938px;
    height: 679px;
    top: 124px;
    left: -18px;
}

.rectangle66{
    position: absolute;
    width: 629px;
    height: 348px;
    left: 0px;
    top: 287px;

    background: rgba(0, 0, 0, 0.3);
}

.Heiko{
    position: absolute;
    width: 242px;
    height: 90px;
    left: 300px;
    top: 67px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;

    color: #FFFFFF;

}

.Heiko_tekst{
    position: absolute;
    width: 275px;
    height: 134px;
    left: 298px;
    top: 172px;

    /* body */

    font-family: 'Roboto';
    font-style: normal ;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    

    color: #FFFFFF;

}

.slika1{
    position: absolute;
    width: 537px;
    height: 326px;
    left: 964px;
    top: 917px;

    background: url(Slika1.png);

}

.slika2{
    position: absolute;
    width: 167px;
    height: 167px;
    left: 964px;
    top: 1258px;

    background: url(Slika2.png);

}

.slika3{
    position: absolute;
    width: 168px;
    height: 167px;
    left: 1150px;
    top: 1258px;

    background: url(Slika3.png);

}

.slika4{
    position: absolute;
    width: 167px;
    height: 167px;
    left: 1336px;
    top: 1258px;

    background: url(Slika4.png);

}

.rectangle68{
    position: absolute;
    width: 960px;
    height: 642px;
    left: 0px;
    top: 1515px;

    background: #A62120;
}

.slika5{
    position: absolute;
    width: 960px;
    height: 642px;
    left: 960px;
    top: 1515px;

    background: url(Slika5.jpg);
}

.slika6{
    position: absolute;
    width: 262px;
    height: 243px;
    left: 410px;
    top: 2873px;

    background: url(Slika6.png);
}

.slika7{
    position: absolute;
    width: 262px;
    height: 243px;
    left: 688px;
    top: 2873px;

    background: url(Slika7.png);
}

.slika8{
    position: absolute;
    width: 263px;
    height: 243px;
    left: 966px;
    top: 2873px;
    
    background: url(Slika8.png);
}

.slika9{
    position: absolute;
    width: 262px;
    height: 243px;
    left: 1245px;
    top: 2873px;

    background: url(Slika9.png);
}

.slika10{
    position: absolute;
    width: 960px;
    height: 705px;
    left: -2px;
    top: 3343px;

    background: url(Slika10.jpg);

}

.rectangle70{
    position: absolute;
    width: 960px;
    height: 705px;
    left: 958px;
    top: 3343px;

    background: #A62120;

}

.slika11{
    position: absolute;
    width: 1920px;
    height: 540px;
    left: -1px;
    top: 4051px;

    background: url(Slika11.png);

}

.genussnetz_logo1{
    position: absolute;
    width: 365.2px;
    height: 201.45px;
    left: 450px;
    top: 4718px;

}

.brath_line1{
    position: absolute;
    width: 1098px;
    height: 85px;
    left: 409px;
    top: 2742px;

}

.brath_line2{
    position: absolute;
    width: 1098px;
    height: 84.48px;
    left: 410px;
    top: 5046px;

}

.nagrada1{
    position: absolute;
    width: 118.98px;
    height: 118.98px;
    left: 757px;
    top: 5281px;

}

.nagrada2{
    position: absolute;
    width: 120.46px;
    height: 104.69px;
    left: 975px;
    top: 5288px;

}

.nagrada3{
    position: absolute;
    width: 116.66px;
    height: 116.66px;
    left: 1171px;
    top: 5282px;

}

.nagrada4{
    position: absolute;
    width: 121.75px;
    height: 118.21px;
    left: 1363px;
    top: 5281px;

}

.nagrada1_tekst{
    position: absolute;
    width: 176px;
    height: 48px;
    left: 728px;
    top: 5414px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: rgba(255, 255, 255, 0.51);

}

.nagrada2_tekst{
    position: absolute;
    width: 112px;
    height: 48px;
    left: 979px;
    top: 5414px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: rgba(255, 255, 255, 0.51);

}

.nagrada3_tekst{
    position: absolute;
    width: 126px;
    height: 48px;
    left: 1166px;
    top: 5414px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: rgba(255, 255, 255, 0.51);

}

.nagrada4_tekst{
    position: absolute;
    width: 106px;
    height: 48px;
    left: 1371px;
    top: 5410px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: rgba(255, 255, 255, 0.51);

}

.brath_line3{
    position: absolute;
    width: 1098px;
    height: 84.48px;
    left: 412px;
    top: 5598px;

}

.container1{
    position: relative;
    text-align: center;
    color: white;
}

.center1{
    position: absolute;
    left: 410px;
    top: 2975px;
    font-size: 26px;
    background: rgba(64, 58, 58, 0.3);
    width: 262px;
   
}

.container2{
    position: relative;
    text-align: center;
    color: white;
}

.center2{
    position: absolute;
    left: 688px;
    top: 2975px;
    font-size: 26px;
    background: rgba(64, 58, 58, 0.3);
    width: 262px;
   
}

.container3{
    position: relative;
    text-align: center;
    color: white;
}

.center3{
    position: absolute;
    left: 966px;
    top: 2975px;
    font-size: 26px;
    background: rgba(64, 58, 58, 0.3);
    width: 262px;
   
}

.container4{
    position: relative;
    text-align: center;
    color: white;
}

.center4{
    position: absolute;
    left: 1245px;
    top: 2975px;
    font-size: 26px;
    background: rgba(64, 58, 58, 0.3);
    width: 262px;
   
}

.DryAged{
    position: absolute;
    width: 128px;
    height: 42px;
    left: 412px;
    top: 963px;

    /* H2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */


    color: #FFFFFF;

}

.AlteWutz{
    position: absolute;
    width: 198px;
    height: 26px;
    left: 412px;
    top: 1005px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;

}

.DryTekst{
    position: absolute;
    width: 427px;
    height: 219px;
    left: 412px;
    top: 1072px;

    /* body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #FFFFFF;

}

.rectangle67{
    box-sizing: border-box;

    position: absolute;
    left: 412px;
    top: 1357px;
    
    background: #A62120;
    border: 1px solid #FFFFFF;
    border-radius: 40px;

    width: 174px;
    height: 47px;

    text-align: center;
    padding-top: 12px;
    color: white;
    font-family: 'Roboto';
}

.rectangle67_2{
    box-sizing: border-box;

    position: absolute;
    left: 602px;
    top: 1357px;
    
    background: #A62120;
    border: 1px solid #FFFFFF;
    border-radius: 40px;

    width: 174px;
    height: 47px;

    text-align: center;
    padding-top: 12px;
    color: white;
    font-family: 'Roboto';
}

.Buchen{
    position: absolute;
    width: 231px;
    height: 92px;
    left: 418px;
    top: 128px;

    /* H2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */


    color: #FFFFFF;
}

.lista{
    position: absolute;
    width: 291px;
    height: 125px;
    right: 242px;
    top: 249px;

    /* body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #FFFFFF;

}

.rectangle67_3{
    box-sizing: border-box;

    position: absolute;
    left: 418px;
    top: 421px;
    
    background: #FFFFFF;
    border: 1px solid #FF0000;
    border-radius: 40px;

    width: 174px;
    height: 47px;

    text-align: center;
    padding-top: 12px;
    color: black;
    font-family: 'Roboto';
}

.DasHandwerk{
    position: absolute;
    width: 208px;
    height: 26px;
    left: 856px;
    top: 2276px;

    /* H2 centered */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    /* identical to box height, or 81% */

    text-align: center;

    color: #FFFFFF;
}

.DasHandwerk2{
    position: absolute;
    width: 421px;
    height: 26px;
    left: 750px;
    top: 2318px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.DasHandwerkTekst{
    position: absolute;
    width: 652px;
    height: 333px;
    left: 634px;
    top: 2409px;

    /* body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #FFFFFF;
}

.rectangle67_4{
    box-sizing: border-box;

    position: absolute;
    left: 237px;
    top: 210px;
    
    background: #A62120;
    border: 1px solid #FFFFFF;
    border-radius: 40px;

    width: 174px;
    height: 47px;

    text-align: center;
    padding-top: 12px;
    color: white;
    font-family: 'Roboto';
}

.CustomeSpices{
    position: absolute;
    width: 432px;
    height: 42px;
    left: 124px;
    top: 180px;

    /* H2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */


    color: #FFFFFF;

}

.CustomeSpices2{
    position: absolute;
    width: 402px;
    height: 42px;
    left: 124px;
    top: 230px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    /* or 91% */


    color: #FFFFFF;
}

.CustomeSpicesTekst{
    position: absolute;
    width: 431px;
    height: 219px;
    left: 124px;
    top: 305px;

    /* body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #FFFFFF;

}

.container5{
    position: relative;
    text-align: center;
    color: white;
}

.Fleischversand1{
    position: absolute;
    left: 852px;
    top: 4244px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
}

.rectangle67_5{
    box-sizing: border-box;

    position: absolute;
    left: 859px;
    top: 4325px;
    
    background: #FFFFFF;
    border: 1px solid #FF0000;
    border-radius: 40px;

    width: 204px;
    height: 47px;

    text-align: center;
    padding-top: 12px;
    color: black;
    font-family: 'Roboto';
}

.Metzgerei{
    position: absolute;
    width: 409px;
    height: 92px;
    left: 1076px;
    top: 4758px;

    /* H2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    /* or 131% */


    color: #FFFFFF;

}

.rectangle67_6{
    box-sizing: border-box;

    position: absolute;
    left: 1076px;
    top: 4902px;
    
    background: #A62120;
    border: 1px solid #FFFFFF;
    border-radius: 40px;

    width: 174px;
    height: 47px;

    text-align: center;
    padding-top: 12px;
    color: white;
    font-family: 'Roboto';
}

.Auszeichnungen{
    position: absolute;
    width: 240px;
    height: 42px;
    left: 410px;
    top: 5339px;

    /* H2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */


    color: #FFFFFF;

}

.Empfehlungs{
    position: absolute;
    top: 5724px;
    left: 908px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;

    opacity: 0.46;
}

.Zaglavlje{
    position: absolute;
    width: 468px;
    height: 85px;
    left: 726px;
    top: 5772px;

    /* H2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */

    text-align: center;

    color: #FFFFFF;
}

.rectangle170{
    position: absolute;
    left: 414px;
    top: 5965px;

    background: #FFFFFF;
    opacity: 5.4%;

    width: 317px;
    height: 257px;
}

.rectangle169{
    box-sizing: border-box;

    position: absolute;
    left: 746px;
    top: 5872px;

    background: #FFFFFF;
    opacity: 0.12;
    border: 1px solid #000000;

    width: 429px;
    height: 414px;
}

.rectangle171{
    position: absolute;
    left: 1191px;
    top: 5965px;

    background: #FFFFFF;
    opacity: 0.05;

    width: 317px;
    height: 257px;
}

